<h1>Listing Words</h1>

<p>I am the yeti</p>

<!-- <% @words.each do |w| %>

    <%= w.word %> : 

    <%= link_to 'Delete', 
                 word_path(w), 
                             method: :delete %> 

    <br/>

<% end %> -->